<div class="w980 addTopicCon">
  <form>
    <div class="form-group">
      <label>标题</label>
      <input type="text" class="form-control"  placeholder="请输入文章标题" ng-model="topic.title">
    </div>
    <div class="form-group">
      <div text-angular ng-model="topic.content"></div>
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit()">提交</button>
  </form>
</div>
