.topicList{
  background: #fff;
  padding-bottom: 24px;
 /* margin-bottom: 20px;*/
  min-height: 430px;
}
.topicList ul li{
  border-bottom:1px solid #E2E0E0;
  padding-left: 18px;
}
.topicList ul li:hover{
  background: #F1F1F1;
}
.topicTitle p{
  margin:0 !important;
}
.addTopic{
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  height: 30px;
  line-height: 16px
}
.authorAvator{
  width:40px;
  height:auto;
  border-radius: 3px;
  display: inline-block;
  vertical-align: sub;
}
.topicTitle{
  display: inline-block;
}
.topic-title{
  font-size: 16px;
  padding:8px 0 5px 10px;
}
.topic-title .lististop{
  color:#ff2222;
}
.topic-title .cream{
  color:#80bd01;
}
.topic-title .share{
  color:#f0a30a;
}
.topic-title .common{
  color:#999;
}
.topic-time{
  font-size: 12px;
  padding:2px 0px 5px 25px;
}
.topic-time a{
  color:#ff4c4c;
}
.paginations{
  text-align: center;
}
.addTopicCon{
  padding:30px 50px;
}
.addTopicCon textarea{
  min-height: 400px;
}
/*话题展示页面*/
.topicDeLeft{
  float: left;
  width:740px;
  min-height: 500px;
  background: #fff;
  padding:0 20px;
}
.topicDeTitle {
  padding:20px 0 10px 5px;
  font-size: 20px;
  font-weight: bolder;
}
.topicDetail{
  padding-left: 16px;
}
.dots{
  display: inline-block;
  width:3px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  margin-right:2px;
  vertical-align: super;
}
.topicDeLeft ol{
  padding-left: 22px;
}
.topicDeLeft img{
  width: 100%;
  height: auto;
}
.topicDeRight{
  margin-left: 10px;
  width:230px;
  height:240px;
  border-radius: 5px;
  background: #fff;
  float: left;
}
.topicDeRight_author{
  text-align: center;
  margin-top: 10px;
}
.topicDeRight_author img{
  width: 60px;
  height: auto;
  border-radius: 30px;
  margin-right: 18px;
  border: 2px solid rgba(0,0,0,0.1);
}
.topicDeRight_title{
  background: #EAEAEA;
  padding:5px 16px;

}
