
<div class="w980" style="margin-top: 20px">
  <div class="topicDeLeft">
    <div class="topicDeTitle" ng-bind="topic.title"></div>
    <div class="topicDetail">
      <span class="dots"></span>
      发布于 {{topic.createTime}} 作者 {{topic.authorName}}
    </div>
    <hr style="margin:10px auto"/>
    <div ng-bind-html="topic.content"></div>
  </div>
  <div class="topicDeRight">
    <div class="topicDeRight_title">作者资料</div>
    <div class="topicDeRight_author">
      <img ng-src="{{topic.authorAvator}}"/>
      <span>{{topic.authorName}}</span>
    </div>
    <p style="padding-left:20px;margin-top: 20px">积分：<i style="color:red"> {{authorInfo.score}} </i></p>
    <p style="padding:0 20px">个性签名：<i style="font-size: 12px">" {{authorInfo.sign}} "</i></p>
  </div>
</div>

