<div class="w980">
  <div class="bbslogo"><img ng-src="./assets/images/bbslogo.jpg" width="980px"/></div>
  <button type="button" class="btn btn-info addTopic" ng-click="addTopic()">发表主题</button>
  <p class="noticeAddr">花果山 >> 花果论坛</p>
  <uib-tabset>
    <uib-tab heading="全部" ng-click="selectAll()">
    </uib-tab>
    <uib-tab heading="精华" ng-click="selectCream()">
    </uib-tab>
    <uib-tab heading="分享" ng-click="selectShare()">
    </uib-tab>
  </uib-tabset>
  <div class="topicList">
    <ul>
      <li ng-repeat="topic in topics | filter:filterTopics">
        <img ng-src="{{topic.authorAvator}}" class="authorAvator"/>
        <div class="topicTitle">
          <p class="topic-title"><span class="{{topic.topicTypeEn}}">[{{topic.topicType}}]</span>&nbsp;&nbsp;
            <a ui-sref="bbs.topic({topicId:topic._id})">{{topic.title}}</a> </p>
          <p class="topic-time">发表于 <a>{{topic.createTime}}</a>&nbsp;&nbsp;来自&nbsp;&nbsp;<a href="#">{{topic.authorName}}</a></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="paginations">
    <uib-pagination total-items="itemsTotal" ng-model="currentPage" max-size="4" previous-text="上一页" next-text="下一页"
                    items-per-page="10" class="pagination-sm" boundary-link-numbers="true" rotate="false"
                    ng-change="pageChanged()"></uib-pagination></div>
</div>
