
/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    background: rgb(246, 246, 246);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
a:hover{
    text-decoration: none;
}
.clear{
    clear: both;
}
.alert{
    margin-top:10px;
    margin-bottom:0 !important;
    padding: 10px !important;
}
.tooltip-inner{
    max-width: 180px !important;
}
.tooltip.in{
    opacity: 1
}
.actived{
    border-bottom: 2px solid #de4a4a;
    color:#de4a4a !important;
    font-weight: bold;
    height:70px !important;
}
.button{
    width: 100px;
    height: 30px;
    background: #D8D8D8;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    cursor: pointer;
    display: inline-block;
    margin-left:30px ;
}.imgPreview{
  display: inline-block;
  margin-left: 30px;
 }
