<footer class="footer">
    <div class="w980">
		<div class="foot_list f1">
			<ul>
				<li class="first">关于花果</li>
				<li><a href="/aboutus.htm">花果简介</a></li>
				<li><a href="/report_1.jhtml">媒体报道</a></li>
				<li><a href="/jobs.htm">招贤纳士</a></li>
				<li><a href="/contact.htm">联系我们</a></li>
				<li><a href="/investment.htm">战略投资者</a></li>
			</ul>
		</div>
		<div class="foot_list f2">
			<ul>
				<li class="first">投资安全</li>
				<li><a href="/partners.htm">合作伙伴</a></li>
				<li><a href="/safety.htm">资金安全</a></li>
				<li><a href="/ensure.htm">法律保障</a></li>
				<li><a href="/report.htm">投资报告</a></li>
			</ul>
		</div>
		<div class="foot_list f3">
			<ul>
				<li class="first">帮助中心</li>
				<li><a href="/guide.htm">投资人指引</a></li>
				<li><a href="/agreement.htm">用户协议</a></li>
				<li><a href="/rules.htm">平台规则</a></li>
				<li><a href="/contract.htm">合同样本</a></li>
			</ul>
		</div>
		<div class="foot_list f4">
			<div class="l1">
				<ul>
					<li class="first ">全国服务热线</li>
					<li class=" font14px">1234567890</li>
					<li class="first pt10">工作日</li>
					<li class=" font14px">10:00-18:00</li>
				</ul>
			</div>
            <div class="l2">
	            <ul>   
	             	<li class="first">官方讨论群</li>
					<li class="font14px">9988776655&nbsp;&nbsp;&nbsp;11223344<br>
						123456789(已满) 987654321(已满)</li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="foot_list f5">
			<h4>本人微信官方公众号</h4>
			<img src="../../assets/images/wechat.png" width="90%"/>
		</div>
	</div>
</footer>