<header ng-controller="header">
    <div class="head">
        <div class="w980">
            <div class="left">
                <div class="tel"><img src="../../assets/images/h_tel.png" />电话热线 <span>123456</span></div>
                <div>关注我们 <img src="../../assets/images/weibo.png"
                        uib-tooltip="点击关注我" tooltip-placement="bottom"/>&nbsp;
                        <img src="../../assets/images/weixin.png"
                            uib-tooltip-template="'myTooltipTemplate.html'" tooltip-placement="bottom"/></div>
                <div class="consult">在线咨询 <img src="../../assets/images/qq.png" /></div>
            </div>
            <div class="right">
                <div class="download"><img src="../../assets/images/phone3.png"
                        uib-tooltip-template="'myTooltipTemplate.html'" tooltip-placement="bottom"/>手机客户端 </div>
                <div class="userBtn">
                    <span ng-show="!plugin"><a ui-sref="login">登录</a></span>
                    <span ng-show="plugin" style="cursor:pointer">
                        <img ng-src="{{avator}}" width="15%"><a href="">{{username}}</a></span>
                    <span ng-show="!plugin"><a ui-sref="signup">注册</a></span>
                    <span ng-show="plugin"><a href="" ng-click="logout()">退出</a></span>
                    <span>帮助</span>
                </div>
            </div>
        </div>
    </div>
    <div class="head-nav">
        <div class="w980">
            <img src="../../assets/images/logo.png" />
            <div class="navlist">
                <ul>
                    <li><a ui-sref="main" ng-class="{actived:isActive('home')}">首页</a></li>
                    <li>项目模式</li>
                    <li>项目列表</li>
                    <li><a ui-sref="bbs.index" ng-class="{actived:isActive('bbs')}">论坛</a></li>
                    <li>积分商城</li>
                    <li>关于我们</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script type="text/ng-template" id="myTooltipTemplate.html">
    <div style="float:right !important;">
        <p style="padding-top:15px">扫一扫下载App</p>
        <p><strong style="color:#CA2828">全栈开发</strong></p>
    </div>
    <img src="../../assets/images/wechat.png" style="width:42%;height:auto;margin:6px 0;display:block"/>
</script>
