*{
	margin:0;
	padding:0;
	border:0;
}
html,body{
	font-family: Arial,'Microsoft YaHei';
}
ul li{
	list-style-type: none;
}
.w980{
	width:980px;
	margin:auto;
	overflow: hidden;
}
/* 头部模版样式 */
.head{
	height: 40px;
	width:100%;
	background: #434343;
}
.left{
	float: left;
	line-height: 40px;
}
.left img,.right img{
	vertical-align: middle;
	padding: 0 5px;
}
.left div{
	display: inline-block;
	vertical-align: baseline;
	color:#a0a0a0;
	font-size: 12px;
	padding-right:10px;
}
.left div span,.consult{
	color:#dcdcdc !important;
}
.right{
	float: right;
	line-height: 40px;
	font-size: 12px;
  margin-right: 24px;
}
.right div{
	display: inline-block;
	color:#a0a0a0;
	vertical-align: baseline;
}
.userBtn span a{
	color:#dcdcdc !important;
	text-decoration: none;
	padding: 0 10px 0 2px;
}
.head-nav{
	height:70px;
	width:100%;
	background: #fff;
}
.head-nav .w980 img{
	display: inline-block;
	margin-top: 9px;
	vertical-align: top;
}
.navlist{
	margin-left: 50px;
	display: inline-block;
	line-height: 70px;
}
.navlist ul li{
	float: left;
	margin-right: 30px
}
.navlist ul li a{
	display: block;
	padding:0 10px;
	text-decoration: none;
}
.navlist ul li a:hover{
  color:#de4a4a;
}
.footer {
	background: #434343;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}

.foot_list{
    float: left;
    padding: 0 20px 0 15px;
    line-height: 23px;
    width: 130px;
}
.foot_list ul li a{
	color:#fff;
	font-size: 12px
}
.foot_list .first{
	color:#ABA6A6
}
.f1{
	background: url(../../assets/images/f1.png) 5px 5px no-repeat;
}
.f2{
	background: url(../../assets/images/f2.png) 5px 5px no-repeat;
}
.f3{
	background: url(../../assets/images/f3.png) 5px 5px no-repeat;
}
.f4{
    width: 290px;
    padding: 0;
   	margin-left: 100px;
}
.f4 .l1{
	background: url(../../assets/images/f4.png) left top no-repeat;
}
.f4 .l2{
	background: url(../../assets/images/f5.png) left top no-repeat;
}
.l1,.l2{
	text-align: left;
	padding-left: 40px;
}
.font14px{
	color:#fff;
}
.f5{
	width:200px;
}
.f5 h4{
	color:#ABA6A6;
}
