.containers{
	width:980px;
	margin: auto;
	position: relative;
	height: 200px;
}
.mainLeft{
	width:700px;
	height:236px;
	background: rgba(255,255,255,0.8);
	position: absolute;
	z-index: 99999;
	color: #707070;
	top:-36px;
	padding: 10px 15px
}
.mainLogo{
	width:100%;
}
.mainLogo ul li{
	float: left;
	width: 111px;
    display: block;
    margin-left: 20px;
    text-align: center;
}
.mainLogo ul li span{
	display: block;
	width:71px;
	height:71px;
	margin:20px auto 10px;
	border-radius: 36px;
	border: 2px solid #E7E7E7;
}
.mainLogo ul li img{
	margin: 16px auto;
    display: block;
}
.mainLogo ul li a{
	color:#5D5C5C;
	font-size: 16px
}
.mainRight{
    position: absolute;
    top: -176px;
    left: 700px;
    z-index: 99999;
    background: rgba(255,255,255,0.8);
    height:376px;
    width:280px;
    padding:20px 20px;
}
.satisTitle{
	background: #de4a4a;
    color: white;
    width: 40px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
}
.figDes{
    width: 80px;
    height: 24px;
    display: inline-block;
    line-height: 22px;
    border: 1px solid #de4a4a;
    text-indent: 7px;
    color: #de4a4a;
}
.number{
	color:#707070;
}
.especialData{
	color:#de4a4a;
	font-size:16px
}
.invest p{
	margin:0 0 7px;
}
.userState{
	margin-top: 10px;
	width:100%;
	height:200px;
	padding:20px 15px;
}
.login button,.reg button,.check button{
	background: #de4a4a;
	height: 30px;
	width:120px;
	line-height:24px;
	text-align: center;
	display: block;
	margin: 10px auto;
	color: #fff
}
.noticeTitle{
	margin-top:16px;
	margin-bottom: 10px;
}
.noticeR{
	float: right;
	color: #707070;
    font-size: 13px;
    padding-top: 10px;
    margin-right: 10px
}
.l{
	color: #707070;
	vertical-align: middle;
	margin-left: 10px
}
.investTitle{
	padding:10px 10px;
	font-size: 18px;
	background: #eee;
	margin-top: 10px
}
.investTitle p{
	line-height: 52px
}
.investContent{
	background: #fff;
	width:100%;
	height:255px;
}
.invsetContentLeft{
	border-right:2px solid rgb(246, 246, 246);
	width:636px;
	height:100%;
	padding:20px 0;
	float: left;
}
.investDataDes{
	float:left;
	width:22%;
}
.investData{
	overflow: hidden;
}
.investDataDes-title{
	font-size: 12px;
	color:#707070;
}
.investDataDes-data{
	font-size: 18px;
	margin-right: 2px
}
.investDataDes:nth-child(1) .investDataDes-data,
.investDataDes:nth-child(2) .investDataDes-data{
	color:#fd8c2c;
}
.investDataDes:nth-child(3) .investDataDes-data{
	color:#c51c22
}
.investDataDes:nth-child(4) .investDataDes-data{
	color:#77b142
}
.muzi{
	padding-top:10px;
	color:#707070;
	font-size: 12px;
}
.muzi img{
	margin-right: 6px;
	vertical-align: bottom;
}
.muziData{
    padding-left: 12px;
    color: #4995d5;
}
.check{
    float: right;
    width: 220px;
    margin-top: 12px;
}
.check p{
	text-align: center !important;
}
.invsetContentRight{
    padding: 15px 0 0 36px;
    float: left;
}
.invsetContentRight h4{
	color:#c8588a;
	margin-bottom: 16px;
}
.dbjd img{
	margin-right: 8px
}
.dbjd{
	color:#707070;
}
.invsetContentRight .more{
    font-size: 12px;
    text-align: right;
}
.invsetContentRight .more a{
	color:#707070;
}
.noticeArea{
	background: #dcdcdc;
	padding-bottom: 40px
}
.laba{
	vertical-align: text-top;
	margin-right: 10px;
	margin-left: 10px
}
.w490{
	width: 490px;
	float: left;
	background: #dcdcdc !important;
}
.index{
    display: inline-block;
    width: 4px;
    height: 4px;
    background: black;
    border-radius: 3px;
    margin-right: 10px;
    vertical-align: middle
}
.noticeLeft{
    font-size: 14px;
    color: #808080;
    margin-top:20px ;
}
.noticeLeft ul li{
	padding-left: 16px;
	margin-bottom: 5px
}
.noticeTime{
	margin-left: 35px;
	font-size: 12px;
}
.notice-content{
	display: inline-block;
	width:280px;
	cursor: pointer;
}
.notice-content a{
	color:#808080;
	text-decoration: none;
}
.notice-content a:hover{
	color:#636262;
}
.notice-content a:active{
	color:red;
	text-decoration: none
}
.notice-content a:visited{
	text-decoration: none
}
.seperate{
	width:100%;
	height: 2px;
	background: #fff;
	margin-top: 6px
}
.noticeLeft ul li:hover{
	color:#636262;
}
.mainLogo ul li:nth-child(1) span:hover{
	border: 2px solid #FD8C2C
}
.mainLogo ul li:nth-child(2) span:hover{
	border: 2px solid #2480CD
}
.mainLogo ul li:nth-child(3) span:hover{
	border: 2px solid #C8588A
}
.mainLogo ul li:nth-child(4) span:hover{
	border: 2px solid #5BA11C
}
.mainLogo ul li:nth-child(5) span:hover{
	border: 2px solid #E26D6D
}
.mainLogo ul li a{
	text-decoration: none;
}
.noticeAddr{
  margin-top: 10px;
  color:#a0a0a0
}
.noticeDetailLeft{
  width: 185px;
  float: left;
  font-family: Microsoft YaHei;
  padding: 0px 0 20px 0;
  background: #fff;
  display: inline-block;
}
.noticeLeftTitle{
  padding-left: 40px;
  line-height: 60px;
  color: #df4b4b;
  font-size: 18px;
}
.noticeDetailLeft ul li{
  display: block;
  padding-left: 60px;
  font-size: 14px;
  line-height: 42px;
  height: 42px;
}
.i1{
  background: url(../../assets/images/i1h.png) no-repeat 35px center #de4a4a;
  color:#fff
}
.i2{
  background: url(../../assets/images/i3.png) no-repeat 35px center;
}
.i3{
  background: url(../../assets/images/i4.png) no-repeat 35px center;
}
.noticeDetailRight{
  display: inline-block;
  margin-left: 15px;
  width:780px;
  height:580px;
  background: #fff;
  margin-bottom: 20px;
}
.gonggao{
  width:120px;
  border-bottom:2px solid #df4b4b;
}
.gonggao p{
  padding:14px 0 14px 26px;
  font-size: 18px;
  margin: 0;
}
.content-title{
  padding:34px 0 18px 0;
  font-size: 18px;
  text-align: center;
  color:#de4a4a;
}
.content-content{
  padding:0 30px
}
