<div ng-include="'components/navbar/navbar.html'"></div>
<div slider></div>
<div class="containers">
    <div class="w980">
        <div class="mainLeft">
            <div class="mainDes">
                <p style="font-size:15px">花果金融是 <span style="color:#de4a4a;font-size:18px">值得信赖</span> 的互联网金融公司</p>
                <p>优秀的金融运营团队，顶级机构合作体系，让使我们能够用便捷、优质的互联网金融服务，安全、稳健的完成您的投资托付。您对我们的每一分信赖，我们都将心怀感恩,努力回报 ……</p>
            </div>
            <div class="mainLogo">
                <ul>
                    <li><a href="#"><span><img src="./assets/images/icon1.png"/></span>花果金融</a></li>
                    <li><a href="#"><span><img src="./assets/images/icon2.png"/></span>花果金融</a></li>
                    <li><a href="#"><span><img src="./assets/images/icon3.png"/></span>花果金融</a></li>
                    <li><a href="#"><span><img src="./assets/images/icon4.png"/></span>花果金融</a></li>
                    <li><a href="#"><span><img src="./assets/images/icon5.png"/></span>花果金融</a></li>
                </ul>
            </div>
        </div>
        <div class="mainRight">
            <p><span class="satisTitle">统计</span><span class="figDes">花果数据</span></p>
            <div class="invest" style="float:left">
                <p class="number">累计投资</p>
                <p><strong class="especialData">xxxxx</strong>元</p>
                <p class="number">平均收益率</p>
                <p><strong class="especialData">xxxxxx</strong>元</p>
            </div>
            <div class="invest" style="float:right">
                <p class="number">获得投资收益</p>
                <p><strong class="especialData">xxxxx</strong>元</p>
                <p class="number">借款项目总数</p>
                <p><strong class="especialData">xxxxxx</strong>元</p>
            </div>
            <div class="clear"></div>
            <div class="userState">
                <p>欢迎仿站</p>
                <div class="login">
                    <button ng-click="login()">登录</button>
                </div>
                <div class="reg">
                    <button ng-click="register()">注册</button>
                </div>
                <p style="font-size:14px;color:#707070">已有46305名“果冻”在花果快乐的理财 了解更多</p>
            </div>
        </div>
    </div>
</div>
<div class="w980">
    <div class="noticeTitle">
        <a href="#" class="noticeR">更多公告 >></a>
        <img src="./assets/images/sound.png"/>
        <a href="#" class="l">花果公告 &nbsp;&nbsp;|</a>
        <a href="#" class="l">花果金融启用备用域名的通知</a>
    </div>
    <img src="./assets/images/ads.jpg" alt="全栈开发"/>
</div>
<div class="w980">
    <div class="investTitle">
        <a href="#" class="noticeR">更多 >></a>
        投资项目
    </div>
    <div class="investContent">
        <img src="./assets/images/dbdk_xie.png" style="float:left"/>
        <div class="invsetContentLeft">
            <p>xxx财富值第x期</p>
            <div class="investData">
                <div class="investDataDes">
                    <p class="investDataDes-title">融资金额</p>
                    <p><span class="investDataDes-data">1000,000</span>元</p>
                </div>
                <div class="investDataDes">
                    <p class="investDataDes-title">可投金额</p>
                    <p><span class="investDataDes-data">1000,000</span>元</p>
                </div>
                <div class="investDataDes">
                    <p class="investDataDes-title">年化利率</p>
                    <p><span class="investDataDes-data">100.00</span>%</p>
                </div>
                <div class="investDataDes">
                    <p class="investDataDes-title">投资周期(天)</p>
                    <p><span class="investDataDes-data">351</span>天</p>
                </div>
            </div>
            <div class="check">
                <button>查看</button>
                <p class="muzi">10000元投资收益 263.01 元</p>
            </div>
            <p class="muzi"><img src="./assets/images/new_ico7.png"/>募资进度<span class="muziData"></span></p>
            <p class="muzi"><img src="./assets/images/new_ico8.png"/>到期时间<span class="muziData">{{lastTime}}</span></p>
            <p class="muzi"><img src="./assets/images/new_ico9.png"/>还款方式<span class="muziData">{{refund}}</span></p>
        </div>
        <div class="invsetContentRight">
            <h4>担保借贷</h4>
            <p class="dbjd"><img src="./assets/images/new_ico1.png"/>优质中小企业借款项目</p>
            <p class="dbjd"><img src="./assets/images/new_ico2.png"/>担保公司本息担保</p>
            <p class="dbjd"><img src="./assets/images/new_ico3.png"/>最低10元起投</p>
            <p class="dbjd"><img src="./assets/images/new_ico4.png"/>投资1个月后可进行债权转让</p>
            <p class="dbjd"><img src="./assets/images/new_ico33.png"/>VIP用户可随时赎回</p>
            <p class="more"><a href="#">了解更多 >></a></p>
        </div>
    </div>
</div>
<div class="noticeArea">
    <div class="w980">
        <div class="investTitle w490">
            <a href="#" class="noticeR">更多 >></a>
            <img src="./assets/images/new_ico12.png" class="laba"/>花果公告
            <div class="seperate"></div>
            <div class="noticeLeft">
                <ul>
                    <li ng-repeat="news in newsList">
                        <span class="index"></span>
                        <span
                          class="notice-content"><a ui-sref="notice({noticeId: news._id})">{{news.title}}</a></span>
                        <span class="noticeTime">{{news.date}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="investTitle w490">
            <a href="#" class="noticeR">更多 >></a>
            <img src="./assets/images/new_ico11.png" class="laba"/>论坛热帖
            <div class="seperate"></div>
            <div class="noticeLeft">
                <ul>
                    <li ng-repeat="news in newsList">
                        <span class="index"></span>
                        <span class="notice-content"><a ui-sref="notice({noticeId: news._id})">{{news.title}}</a></span>
                        <span class="noticeTime">{{news.date}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-include="'components/navbar/footer.html'"></div>
