<div ng-include="'components/navbar/navbar.html'"></div>
<div class="w980">
  <p class="noticeAddr">花果金融 >> 花果公告</p>
  <div>
    <div class="noticeDetailLeft">
      <div class="noticeLeftTitle">网站公告</div>
      <ul>
        <li class="i1">花果公告</li>
        <li class="i2">测试公告</li>
        <li class="i3">无聊公告</li>
      </ul>
    </div>
    <div class="noticeDetailRight">
        <div class="gonggao">
          <p>花果公告</p>
        </div>
        <hr style="margin:0"/>
      <div>
        <p class="content-title" ng-bind="news.title"></p>
        <div class="content-content"><pre>{{news.content}}</pre></div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/navbar/footer.html'"></div>

